In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving DataPrepFinal.csv to DataPrepFinal.csv

In [ ]:
df=pd.read_csv('DataPrepFinal.csv')

In [ ]:
df.head()

   Unnamed: 0         Timestamp     open     high  ...    TR  ATR      SAR   Returns
0           0  21-12-2020 12:35  2009.65  2010.00  ...   NaN  NaN      NaN  0.000000
1           1  21-12-2020 12:40  2007.90  2009.00  ...  3.20  NaN  2004.50 -0.000598
2           2  21-12-2020 12:45  2005.65  2007.80  ...  4.65  NaN  2009.00  0.000174
3           3  21-12-2020 12:50  2007.45  2008.95  ...  2.00  NaN  2009.00  0.000424
4           4  21-12-2020 12:55  2008.00  2008.00  ...  6.40  NaN  2008.95 -0.002739

[5 rows x 13 columns]

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df.head()

   Unnamed: 0         Timestamp     open     high  ...    TR  ATR      SAR   Returns
0           0  21-12-2020 12:35  2009.65  2010.00  ...  0.00  0.0     0.00  0.000000
1           1  21-12-2020 12:40  2007.90  2009.00  ...  3.20  0.0  2004.50 -0.000598
2           2  21-12-2020 12:45  2005.65  2007.80  ...  4.65  0.0  2009.00  0.000174
3           3  21-12-2020 12:50  2007.45  2008.95  ...  2.00  0.0  2009.00  0.000424
4           4  21-12-2020 12:55  2008.00  2008.00  ...  6.40  0.0  2008.95 -0.002739

[5 rows x 13 columns]

In [ ]:
X = df[['volume', 'RSI', 'MOM', 'TR', 'ATR', 'SAR']]
y = df['Returns']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
regr = RandomForestRegressor(max_depth=2, random_state=0)
regr.fit(x_train, y_train)

RandomForestRegressor(max_depth=2, random_state=0)

In [ ]:
from sklearn.metrics import mean_squared_error